In [1]:
numbers=[12,78,45,90,67,538,99,25,29]

In [3]:
top=max(numbers)
top

538

In [4]:
lowest=min(numbers)
lowest

12

In [5]:
total=sum(numbers)
total

983

In [6]:
numbers[:3]

[12, 78, 45]

In [7]:
numbers[1:3]

[78, 45]

In [8]:
numbers[5:10]

[538, 99, 25, 29]

In [9]:
numbers[-3:]

[99, 25, 29]

In [10]:
new_list=numbers[:]
new_list

[12, 78, 45, 90, 67, 538, 99, 25, 29]

In [12]:
# Using a loop to generate a list of square numbers
squares=[]
for i in range(1,8):
    square=i**2
    squares.append(square)
squares

[1, 4, 9, 16, 25, 36, 49]

In [13]:
# Using a comprehension to generate a list of square numbers
squares2=[x**2 for  x in range(20,30)]
squares2

[400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [19]:
names=['dora','jenni','ginny','alfsas','devi']
upper_name=[]
for peers in names:
    upper_name.append(peers.upper())
   
upper_name

['DORA', 'JENNI', 'GINNY', 'ALFSAS', 'DEVI']

In [21]:
last=['MICHAEL','HELI','WHIINY','MARK','GENNIGA']
lower=[]
for last_name in last:
    lower.append(last_name.lower())
lower

['michael', 'heli', 'whiiny', 'mark', 'genniga']

In [24]:
# Using a comprehension to convert a list of names to upper case
names=['dora','jenni','ginny','alfsas','devi']
upper=[peers.upper() for peers in names]
upper

['DORA', 'JENNI', 'GINNY', 'ALFSAS', 'DEVI']

In [25]:
last=['MICHAEL','HELI','WHIINY','MARK','GENNIGA']
lower=[peers.lower( ) for peers in last]
lower

['michael', 'heli', 'whiiny', 'mark', 'genniga']

# Defining a tuple

In [26]:
dimenstions=(24,90)

In [27]:
for measurements in dimenstions:
    print(measurements)

24
90